In [1]:
import os
# Find the latest version of spark 2.0  from http://www-us.apache.org/dist/spark/ and enter as the spark version


spark_version = 'spark-3.1.2'
os.environ['SPARK_VERSION']=spark_version

# Install Spark and Java
!apt-get update
!apt-get install openjdk-11-jdk-headless -qq > /dev/null
!wget -q http://www-us.apache.org/dist/spark/$SPARK_VERSION/$SPARK_VERSION-bin-hadoop2.7.tgz
!tar xf $SPARK_VERSION-bin-hadoop2.7.tgz
!pip install -q findspark

# Set Environment Variables
import os
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-11-openjdk-amd64"
os.environ["SPARK_HOME"] = f"/content/{spark_version}-bin-hadoop2.7"

# Start a SparkSession
import findspark
findspark.init()

Get:1 http://security.ubuntu.com/ubuntu bionic-security InRelease [88.7 kB]
Get:2 https://cloud.r-project.org/bin/linux/ubuntu bionic-cran40/ InRelease [3,626 B]
Ign:3 https://developer.download.nvidia.com/compute/cuda/repos/ubuntu1804/x86_64  InRelease
Ign:4 https://developer.download.nvidia.com/compute/machine-learning/repos/ubuntu1804/x86_64  InRelease
Get:5 https://developer.download.nvidia.com/compute/cuda/repos/ubuntu1804/x86_64  Release [697 B]
Hit:6 https://developer.download.nvidia.com/compute/machine-learning/repos/ubuntu1804/x86_64  Release
Get:7 https://developer.download.nvidia.com/compute/cuda/repos/ubuntu1804/x86_64  Release.gpg [836 B]
Get:8 https://cloud.r-project.org/bin/linux/ubuntu bionic-cran40/ Packages [61.8 kB]
Hit:9 http://archive.ubuntu.com/ubuntu bionic InRelease
Get:10 http://security.ubuntu.com/ubuntu bionic-security/universe amd64 Packages [1,415 kB]
Get:11 http://archive.ubuntu.com/ubuntu bionic-updates InRelease [88.7 kB]
Get:12 http://security.ubuntu.com/ubuntu bionic-security/restricted amd64 Packages [450 kB]
Get:13 http://security.ubuntu.com/ubuntu bionic-security/main amd64 Packages [2,185 kB]
Get:15 http://archive.ubuntu.com/ubuntu bionic-backports InRelease [74.6 kB]
Get:16 http://ppa.launchpad.net/c2d4u.team/c2d4u4.0+/ubuntu bionic InRelease [15.9 kB]
Ign:17 https://developer.download.nvidia.com/compute/cuda/repos/ubuntu1804/x86_64  Packages
Get:17 https://developer.download.nvidia.com/compute/cuda/repos/ubuntu1804/x86_64  Packages [800 kB]
Hit:18 http://ppa.launchpad.net/cran/libgit2/ubuntu bionic InRelease
Get:19 http://archive.ubuntu.com/ubuntu bionic-updates/main amd64 Packages [2,619 kB]
Get:20 http://ppa.launchpad.net/deadsnakes/ppa/ubuntu bionic InRelease [15.9 kB]
Get:21 http://ppa.launchpad.net/graphics-drivers/ppa/ubuntu bionic InRelease [21.3 kB]
Get:22 http://ppa.launchpad.net/c2d4u.team/c2d4u4.0+/ubuntu bionic/main Sources [1,772 kB]
Get:23 http://archive.ubuntu.com/ubuntu bionic-updates/multiverse amd64 Packages [33.5 kB]
Get:24 http://archive.ubuntu.com/ubuntu bionic-updates/universe amd64 Packages [2,185 kB]
Get:25 http://archive.ubuntu.com/ubuntu bionic-updates/restricted amd64 Packages [481 kB]
Get:26 http://ppa.launchpad.net/c2d4u.team/c2d4u4.0+/ubuntu bionic/main amd64 Packages [906 kB]
Get:27 http://ppa.launchpad.net/deadsnakes/ppa/ubuntu bionic/main amd64 Packages [40.9 kB]
Get:28 http://ppa.launchpad.net/graphics-drivers/ppa/ubuntu bionic/main amd64 Packages [41.6 kB]
Fetched 13.3 MB in 11s (1,186 kB/s)
Reading package lists... Done

In [2]:
# Download the Postgres driver that will allow Spark to interact with Postgres.
!wget https://jdbc.postgresql.org/download/postgresql-42.2.16.jar

--2021-06-16 14:15:19--  https://jdbc.postgresql.org/download/postgresql-42.2.16.jar
Resolving jdbc.postgresql.org (jdbc.postgresql.org)... 72.32.157.228, 2001:4800:3e1:1::228
Connecting to jdbc.postgresql.org (jdbc.postgresql.org)|72.32.157.228|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 1002883 (979K) [application/java-archive]
Saving to: ‘postgresql-42.2.16.jar’

postgresql-42.2.16. 100%[===================>] 979.38K  5.72MB/s    in 0.2s

2021-06-16 14:15:19 (5.72 MB/s) - ‘postgresql-42.2.16.jar’ saved [1002883/1002883]

In [3]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName("BigData-Challenge").config("spark.driver.extraClassPath","/content/postgresql-42.2.16.jar").getOrCreate()

In [4]:
from pyspark import SparkFiles
url = "https://s3.amazonaws.com/amazon-reviews-pds/tsv/amazon_reviews_us_Musical_Instruments_v1_00.tsv.gz"
spark.sparkContext.addFile(url)
df = spark.read.option("encoding", "UTF-8").csv(SparkFiles.get("amazon_reviews_us_Musical_Instruments_v1_00.tsv.gz"), sep="\t", header=True, inferSchema=True)
df.show()

+-----------+-----------+--------------+----------+--------------+--------------------+-------------------+-----------+-------------+-----------+----+-----------------+--------------------+--------------------+-----------+
|marketplace|customer_id|     review_id|product_id|product_parent|       product_title|   product_category|star_rating|helpful_votes|total_votes|vine|verified_purchase|     review_headline|         review_body|review_date|
+-----------+-----------+--------------+----------+--------------+--------------------+-------------------+-----------+-------------+-----------+----+-----------------+--------------------+--------------------+-----------+
|         US|   45610553| RMDCHWD0Y5OZ9|B00HH62VB6|     618218723|AGPtek® 10 Isolat...|Musical Instruments|          3|            0|          1|   N|                N|         Three Stars|Works very good, ...| 2015-08-31|
|         US|   14640079| RZSL0BALIYUNU|B003LRN53I|     986692292|Sennheiser HD203 ...|Musical Instruments|          5|            0|          0|   N|                Y|          Five Stars|Nice headphones a...| 2015-08-31|
|         US|    6111003| RIZR67JKUDBI0|B0006VMBHI|     603261968|AudioQuest LP rec...|Musical Instruments|          3|            0|          1|   N|                Y|         Three Stars|removes dust. doe...| 2015-08-31|
|         US|    1546619|R27HL570VNL85F|B002B55TRG|     575084461|Hohner Inc. 560BX...|Musical Instruments|          5|            0|          0|   N|                Y|I purchase these ...|I purchase these ...| 2015-08-31|
|         US|   12222213|R34EBU9QDWJ1GD|B00N1YPXW2|     165236328|Blue Yeti USB Mic...|Musical Instruments|          5|            0|          0|   N|                Y|          Five Stars|This is an awesom...| 2015-08-31|
|         US|   46018513|R1WCUI4Z1SIQEO|B001N4GRGS|     134151483|Middle Atlantic P...|Musical Instruments|          5|            0|          0|   N|                N|          Five Stars|Used to cool equi...| 2015-08-31|
|         US|   10225065| RL5LNO26GAVJ1|B009PJRMHQ|     694166585|Kmise 1pc Pickgua...|Musical Instruments|          2|            3|          4|   N|                Y|Will not Fit Epip...|Note- Does not Fi...| 2015-08-31|
|         US|    6356995|R3GYQ5W8JHP8SB|B00NKBDAZS|     446431775|Kealoha Concert U...|Musical Instruments|          5|            0|          0|   N|                Y|          Five Stars|Well built Ukulel...| 2015-08-31|
|         US|   35297198|R30SHYQXGG5EYC|B006MIU7U2|     125871705|Halco 80000 - MR1...|Musical Instruments|          5|            0|          0|   N|                Y|Works fine. Hope ...|Had to replace a ...| 2015-08-31|
|         US|   32139520|R14YLXA56NP51I|B000FIBD0I|     771888534|Gator GPTBLACK Pl...|Musical Instruments|          5|            1|          1|   N|                N|I upgraded the po...|I've owned multip...| 2015-08-31|
|         US|   36060782|R1ZH0HSH38IOTZ|B0002E52GG|      68535945|Hetman 1 - Light ...|Musical Instruments|          5|            0|          0|   N|                Y|My son's favourit...|Consistent qualit...| 2015-08-31|
|         US|    5301309|R3H53KLLC210XI|B00RZIH52G|     725541773|Dragonpad pop fil...|Musical Instruments|          4|            0|          0|   N|                Y|Great pop filter ...|by far the best p...| 2015-08-31|
|         US|   37472935|R3OOR877NGA8JK|B001792BAU|      46570323|DharmaObjects Rel...|Musical Instruments|          3|            0|          0|   N|                Y|                  Ok|Beautiful set. On...| 2015-08-31|
|         US|   33578270|R1BY7WKOZ3KMH0|B009GSKW1Y|     547963417|Musiclily SSS Pla...|Musical Instruments|          2|            0|          0|   N|                Y|           Two Stars|Bridge pickup was...| 2015-08-31|
|         US|   22070226| RXP1TFSWE8EG9|B0002F4TKA|     436074323|Vic Firth America...|Musical Instruments|          5|            0|          0|   N|                Y|          Five Stars|Feels good and la...| 2015-08-31|
|         US|   52862655|R3J44DPP12OTLJ|B00K17YFBW|      81933093|Guitar Stand for ...|Musical Instruments|          5|            0|          0|   N|                Y|Great stand... on...|I love the stand....| 2015-08-31|
|         US|    4427243| RFOV69SK0T676|B00EQ24HJS|     669249276|Generic 3PLY Faux...|Musical Instruments|          5|            0|          0|   N|                Y|Looks great. You ...|On time. Looks gr...| 2015-08-31|
|         US|   14108571|R2HUWDNW62FOL3|B00IBOYTUE|     749537231|Audio 2000 6525 3...|Musical Instruments|          1|            0|          0|   N|                Y|  Poor sound quality|I was hoping it w...| 2015-08-31|
|         US|   27314089|R1KSU30XZGR452|B00FBRUSAE|     792472601|Sawtooth ST-AMP-1...|Musical Instruments|          5|            0|          0|   N|                Y|Perfect for the b...|Good sound for it...| 2015-08-31|
|         US|   16735445|R2TZVLLTSHA07N|B0113D2QUO|     269114019|Upado Unlimited G...|Musical Instruments|          5|            1|          1|   N|                Y|It really is a mu...|Wow! I didn't exp...| 2015-08-31|
+-----------+-----------+--------------+----------+--------------+--------------------+-------------------+-----------+-------------+-----------+----+-----------------+--------------------+--------------------+-----------+
only showing top 20 rows

In [12]:
vine_df = df.select(['review_id','star_rating','helpful_votes','total_votes','vine','verified_purchase'])
vine_df.show()

+--------------+-----------+-------------+-----------+----+-----------------+
|     review_id|star_rating|helpful_votes|total_votes|vine|verified_purchase|
+--------------+-----------+-------------+-----------+----+-----------------+
| RMDCHWD0Y5OZ9|          3|            0|          1|   N|                N|
| RZSL0BALIYUNU|          5|            0|          0|   N|                Y|
| RIZR67JKUDBI0|          3|            0|          1|   N|                Y|
|R27HL570VNL85F|          5|            0|          0|   N|                Y|
|R34EBU9QDWJ1GD|          5|            0|          0|   N|                Y|
|R1WCUI4Z1SIQEO|          5|            0|          0|   N|                N|
| RL5LNO26GAVJ1|          2|            3|          4|   N|                Y|
|R3GYQ5W8JHP8SB|          5|            0|          0|   N|                Y|
|R30SHYQXGG5EYC|          5|            0|          0|   N|                Y|
|R14YLXA56NP51I|          5|            1|          1|   N|                N|
|R1ZH0HSH38IOTZ|          5|            0|          0|   N|                Y|
|R3H53KLLC210XI|          4|            0|          0|   N|                Y|
|R3OOR877NGA8JK|          3|            0|          0|   N|                Y|
|R1BY7WKOZ3KMH0|          2|            0|          0|   N|                Y|
| RXP1TFSWE8EG9|          5|            0|          0|   N|                Y|
|R3J44DPP12OTLJ|          5|            0|          0|   N|                Y|
| RFOV69SK0T676|          5|            0|          0|   N|                Y|
|R2HUWDNW62FOL3|          1|            0|          0|   N|                Y|
|R1KSU30XZGR452|          5|            0|          0|   N|                Y|
|R2TZVLLTSHA07N|          5|            1|          1|   N|                Y|
+--------------+-----------+-------------+-----------+----+-----------------+
only showing top 20 rows

In [95]:
# 1. filter the data where total_votes count is equal to or reater than 20 - prevent div/0 later and see what reviews are deemed 'useful'

vine_df = vine_df.filter('total_votes>=20')
vine_df.show()

+--------------+-----------+-------------+-----------+----+-----------------+
|     review_id|star_rating|helpful_votes|total_votes|vine|verified_purchase|
+--------------+-----------+-------------+-----------+----+-----------------+
|R2243Y3OD8U6KQ|          5|           47|         61|   N|                N|
|R2TGT0CDTCAAHW|          5|           21|         23|   N|                Y|
| RX4D22YSXEF4P|          1|           37|         38|   N|                Y|
|R3FL2NTLFUSPTQ|          5|           33|         37|   N|                N|
|R3QTP3YNZXAPPF|          3|           23|         24|   N|                Y|
|R36V6V42VN5AS5|          5|           34|         37|   N|                Y|
|R27LZWE27BJPOB|          5|           22|         23|   N|                N|
|  RMRD6SMF2AUQ|          3|            4|         21|   N|                N|
| RMPCXKWX3T57Y|          1|            1|         73|   N|                N|
|R1P7GJ0IN2BRNH|          5|           37|         37|   N|                Y|
|R2R6JPF9KOD2HJ|          5|           19|         20|   N|                Y|
|R3JM8Z4SP9N3H2|          1|            4|         23|   N|                N|
|R2J0ZZGFXKM8KR|          2|           21|         22|   N|                Y|
|R238ZSG6TSUBNX|          5|           27|         27|   N|                Y|
|R37WGVXA94D62S|          2|            4|         20|   N|                Y|
| RC6Y8GYIQZ8YU|          3|           72|         85|   N|                Y|
| RFL3TJED8C240|          5|           13|         24|   N|                N|
|R3D4P7A8Q1C70F|          5|           22|         27|   N|                Y|
|R3PRNAQVQBB9M6|          1|           21|         30|   N|                Y|
|R2NTTIW5KBKLYG|          5|           19|         20|   N|                N|
+--------------+-----------+-------------+-----------+----+-----------------+
only showing top 20 rows

In [104]:
# 2. filter the data where the number of helpful_votes divided by total_votes is >= 50%
helpful_vines = vine_df.withColumn('helpful_perc',(vine_df['helpful_votes'] / vine_df['total_votes'])).filter('helpful_perc>=0.50')
helpful_vines.show()

+--------------+-----------+-------------+-----------+----+-----------------+------------------+
|     review_id|star_rating|helpful_votes|total_votes|vine|verified_purchase|      helpful_perc|
+--------------+-----------+-------------+-----------+----+-----------------+------------------+
|R2243Y3OD8U6KQ|          5|           47|         61|   N|                N|0.7704918032786885|
|R2TGT0CDTCAAHW|          5|           21|         23|   N|                Y|0.9130434782608695|
| RX4D22YSXEF4P|          1|           37|         38|   N|                Y|0.9736842105263158|
|R3FL2NTLFUSPTQ|          5|           33|         37|   N|                N|0.8918918918918919|
|R3QTP3YNZXAPPF|          3|           23|         24|   N|                Y|0.9583333333333334|
|R36V6V42VN5AS5|          5|           34|         37|   N|                Y| 0.918918918918919|
|R27LZWE27BJPOB|          5|           22|         23|   N|                N|0.9565217391304348|
|R1P7GJ0IN2BRNH|          5|           37|         37|   N|                Y|               1.0|
|R2R6JPF9KOD2HJ|          5|           19|         20|   N|                Y|              0.95|
|R2J0ZZGFXKM8KR|          2|           21|         22|   N|                Y|0.9545454545454546|
|R238ZSG6TSUBNX|          5|           27|         27|   N|                Y|               1.0|
| RC6Y8GYIQZ8YU|          3|           72|         85|   N|                Y|0.8470588235294118|
| RFL3TJED8C240|          5|           13|         24|   N|                N|0.5416666666666666|
|R3D4P7A8Q1C70F|          5|           22|         27|   N|                Y|0.8148148148148148|
|R3PRNAQVQBB9M6|          1|           21|         30|   N|                Y|               0.7|
|R2NTTIW5KBKLYG|          5|           19|         20|   N|                N|              0.95|
|R3JNDLZ3KACRLG|          5|           29|         33|   N|                N|0.8787878787878788|
|R1PVVYYY0Q1HZ0|          5|           21|         21|   N|                Y|               1.0|
|R1R9RU7JW0MFR2|          4|           20|         23|   Y|                N|0.8695652173913043|
|R1G9N0CW2982PA|          5|           21|         24|   N|                Y|             0.875|
+--------------+-----------+-------------+-----------+----+-----------------+------------------+
only showing top 20 rows

In [97]:
# 3. split dataframe into two sets based on boolean vine column value, SQL style and pythonic, both give the same answer
helpful_vine_Y = helpful_vines.filter('vine="Y"') 
helpful_vine_N = helpful_vines.filter(helpful_vines['vine'] == 'N')

helpful_vine_Y.count(), helpful_vine_N.count()

(60, 14477)

In [56]:
import pyspark.sql.functions as f

In [67]:
# 4. determine the total number of reviews, number of 5-star reviews, and percentage of 5-star reviews for the two dataframes
help_Y_total = helpful_vine_Y.count()
help_Y_5star = helpful_vine_Y.filter('star_rating==5').count()
help_Y_5perc = (help_Y_5star / help_Y_total) * 100

cols = ['Total_Reviews','5Star_Reviews']
data = [(help_Y_total), (help_Y_5star)]

# Vine: Y

In [75]:
help_y_sum = spark.createDataFrame([data],cols)
help_y_sum.withColumn('5_Star_Percent', (help_y_sum['5Star_Reviews']/help_y_sum['Total_Reviews'])*100).show()

+-------------+-------------+------------------+
|Total_Reviews|5Star_Reviews|    5_Star_Percent|
+-------------+-------------+------------------+
|           60|           34|56.666666666666664|
+-------------+-------------+------------------+

# Vine: N

In [76]:
help_N_total = helpful_vine_N.count()
help_N_5star = helpful_vine_N.filter('star_rating==5').count()
help_N_5perc = (help_N_5star / help_N_total) * 100

cols = ['Total_Reviews','5Star_Reviews']
data = [(help_N_total), (help_N_5star)]

help_n_sum = spark.createDataFrame([data],cols)
help_n_sum.withColumn('5_Star_Percent', (help_n_sum['5Star_Reviews']/help_n_sum['Total_Reviews'])*100).show()

+-------------+-------------+-----------------+
|Total_Reviews|5Star_Reviews|   5_Star_Percent|
+-------------+-------------+-----------------+
|        14477|         8212|56.72445948746287|
+-------------+-------------+-----------------+

# Same Thing - With Pandas

In [79]:
#import pandas as pd
vine_pd = vine_df.toPandas()
vine_pd

            review_id  star_rating  ...  vine  verified_purchase
0      R2243Y3OD8U6KQ            5  ...     N                  N
1      R2TGT0CDTCAAHW            5  ...     N                  Y
2       RX4D22YSXEF4P            1  ...     N                  Y
3      R3FL2NTLFUSPTQ            5  ...     N                  N
4      R3QTP3YNZXAPPF            3  ...     N                  Y
...               ...          ...  ...   ...                ...
16515  R2EJ952S3YK254            4  ...     N                  N
16516   R6MDTUK723YPY            4  ...     N                  N
16517  R10B4417NCK98O            5  ...     N                  N
16518  R3V2A0GUZ3JAQ4            4  ...     N                  N
16519  R1VYXC7FFG4LGH            4  ...     N                  N

[16520 rows x 6 columns]

In [102]:
f"Pandas Rows: {len(vine_pd)}    Pyspark Rows: {vine_df.count()}"

'Pandas Rows: 16520    Pyspark Rows: 16520'

In [125]:
helpful_vine_pd = vine_pd[vine_pd['total_votes'] >= 20]
helpful_vine_pd = helpful_vine_pd[helpful_vine_pd['helpful_votes']/helpful_vine_pd['total_votes'] >= 0.50]
helpful_vine_pd

            review_id  star_rating  ...  vine  verified_purchase
0      R2243Y3OD8U6KQ            5  ...     N                  N
1      R2TGT0CDTCAAHW            5  ...     N                  Y
2       RX4D22YSXEF4P            1  ...     N                  Y
3      R3FL2NTLFUSPTQ            5  ...     N                  N
4      R3QTP3YNZXAPPF            3  ...     N                  Y
...               ...          ...  ...   ...                ...
16515  R2EJ952S3YK254            4  ...     N                  N
16516   R6MDTUK723YPY            4  ...     N                  N
16517  R10B4417NCK98O            5  ...     N                  N
16518  R3V2A0GUZ3JAQ4            4  ...     N                  N
16519  R1VYXC7FFG4LGH            4  ...     N                  N

[14537 rows x 6 columns]

In [126]:
f"Pandas Step 2: {len(helpful_vine_pd):,}   Pyspark Step 2: {helpful_vines.count():,}"

'Pandas Step 2: 14,537   Pyspark Step 2: 14,537'

In [134]:
helpful_pd_Y = helpful_vine_pd[helpful_vine_pd['vine'] == 'Y']
helpful_pd_N = helpful_vine_pd[helpful_vine_pd['vine'] == 'N']

f"{len(helpful_pd_Y)}, {len(helpful_pd_N)} ---- {helpful_vine_Y.count()}, {helpful_vine_N.count()}"

'60, 14477 ---- 60, 14477'

# Vine: Y (Pandas)

In [141]:
pd_Y_output = [len(helpful_pd_Y), len(helpful_pd_Y[helpful_pd_Y['star_rating']==5]), len(helpful_pd_Y[helpful_pd_Y['star_rating']==5])/len(helpful_pd_Y)]
pd_N_output = [len(helpful_pd_N), len(helpful_pd_N[helpful_pd_N['star_rating']==5]), len(helpful_pd_N[helpful_pd_N['star_rating']==5])/len(helpful_pd_N)]
columns = ['Total','5-Star','Perc_5-Star']

In [158]:
pd.DataFrame({columns[i]:pd_Y_output[i] for i in range(3)}, index=[""])

  Total  5-Star  Perc_5-Star
     60      34     0.566667

#Vine: N (Pandas)

In [159]:
pd.DataFrame({columns[i]:pd_N_output[i] for i in range(3)}, index=[""])

  Total  5-Star  Perc_5-Star
  14477    8212     0.567245